*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img__wrapper > img{
  width: 300px;
}

.App{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skeleton{
  background-color: gray;
}

.btn__logout{
  padding: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}